<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mon application ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <!--<div class="navbar navbar-inverse navbar-fixed-top">-->
    <div class="navbar navbar-fixed-top navbar-dark bg-danger text-danger">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <!--Ajouter logo de l'entreprise-->
                <a class="navbar-brand" href="#">
                    <img src="~/Logos/education-logo.jpg"
                         width="30" height="30" alt="" loading="lazy">
                </a>

                <!--brand text de l'entrepricse-->
                @Html.ActionLink("Parcours", "Index", "Home", new { area = "" },
               new
               {
                   @class = "navbar-brand",
                   @style = "font-family:'Adobe Hebrew'; font-size:25px; font-weight:bold; color:#2cbdf2"
               })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Parcours", "Index", "Parcours")</li>
                    <li>@Html.ActionLink("Modules", "Index", "Modules")</li>
                    <li>@Html.ActionLink("Evaluations", "Index", "EvaluationModules")</li>

                    <!-- drop down box pour la liste des parcours -->
                    <!--On veux des dropdown liste dynamique-->
                    <!--Appeler une action qui va afficher une vue partiel -->
                    @Html.Action("Parcours", "Parcours")
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Mon application ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/bootstrap")
    <!--Mettre le GridMVC dans un bundle pour simplifier son utilisation-->
    @Scripts.Render("~/bundles/gridmvc")

    @RenderSection("scripts", required: false)
</body>
</html>
